    *{
		margin:0px; padding: 0px; box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
		}
		main{
			height: 100vh;
			background: rgb(2,0,36);
     background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(112,182,194,1) 30%, rgba(69,144,71,1) 37%, rgba(71,186,167,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(112,182,194,1) 30%, rgba(69,144,71,1) 37%, rgba(71,186,167,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(112,182,194,1) 30%, rgba(69,144,71,1) 37%, rgba(71,186,167,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#47baa7",GradientType=1);

				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

		}
		div{
			max-width: 500px; height: auto;
			background-color: skyblue;
			padding: 50px;
			box-shadow: 1px 1px 15px 3px #2d3436;
		}
		h1{
			margin-bottom: 10px;
			text-shadow: 1px 2px 1.5px white;
			text-transform: capitalize;
		}
		label{
			display: block; 
			text-transform: capitalize;
			margin-top:30px; 
		}
		input{
			width: 300px;
			padding: 10px 0px;
		}
		button{
			border-radius: 10px;
			padding: 15px 30px;
			font-size: 0.8rem;
			text-transform: uppercase;
			border: none;
			color: white;
			background: #00b894;
			box-shadow: 1px 1px 5px 1px  #2d3436;
			margin-top: 20px;
		}